        {% extends 'NTPBundle::pdfBase.html.twig' %}
    {% block body %}
        <div class="row">
            <div class="header-pdf">
            <img src="{{ asset('bundles/ntp/images/storeimage.png') }}" /> 
            <h1>Wickes transport reports</h1> 
            </div>
        </div>
    {% endblock %}
