div.body-login-background {
    background: url("../images/dhlbackground.jpg") no-repeat center center;
    background-size: 80%;  
    height:520px;
    width:auto;
}

div.body-login-container{
    position: absolute;
    top: 20%;
    right: 10%;
    width: 300px;
    padding: 10px;
    
}