div.header-pdf h1{
    text-align: center;
    padding-left: 150px;
}

div.header-pdf img{
    float: right;
    height: 60px;
    width: auto;
    padding-right: 50px;
    
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}