{% extends 'NTPBundle::base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <table class="table" align="center">
                {% for item in dateArray %}
                    {% if item.state == 'start' %}
                        <tr>
                        {% endif %}
                        {% if item.inarray == "True" %}
                            <td><span class="label label-success">{{ item.date|date('d-m-Y D') }} </span></td>
                        {% else %}
                            <td><span class="label label-danger">{{ item.date|date('d-m-Y D') }}</span></td>

                        {% endif %}
                        {% if item.state == 'end' %}
                        </tr>
                    {% endif %}
                {% endfor %}

            </table>
        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock %}
