{% extends 'NTPBundle::base.html.twig' %}
{% block body %}
    <p class="text-center">
    <ul class="list-inline">
    {% for item in dateArray %}
        {% if item.inarray == "True" %}
           <li><span class="label label-success">{{ item.date|date('d-m-Y D') }} </span></li>
        {% else %}
           <li><span class="label label-danger">{{ item.date|date('d-m-Y D') }}</span></li>

        {% endif %}
        {% if item.counter == "True" %}
            <br>
        {% endif %}    
    {% endfor %}
    </ul>
</p>
{% endblock %}
