{% extends 'NTPBundle::base.html.twig' %}
{% block body %}
    
    <p>File processed succefuly</p>
    <br/>
    <p>Errors: {{ errors }}</p> <br/>
    <p>Sucess: {{ success }}</p> <br/>
    <table class="table table-striped">
    {% for item in exceptionsArray %}
        <tr>
            <td> {{ item }} </td><br/>
        </tr>
    {% endfor %}
    </table>
    
{% endblock %}
