{% extends 'NTPBundle::base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h3>Send manual emails for last week (use only on Monday for following week) </h3>

        </div>
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <tr><th>No.</th><th>Description</th><th>Action</th><tr>
                            {% for key,record in weeklyArray %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ record }}</td>
                            <td><button type="submitt" class="btn btn-success" value={{ key }} onClick="callAjax(this.value)">Send email</button></td>

                        </tr>
                    {% endfor %}

                </table>
            </div>

            <div class="col-md-6">
            </div>
        </div>

    </div>
    <script>

        function callAjax(val) {
            $.post('{{path('manual_email_trigger')}}',
                    {data1: val},
                    function (response) {
                        if (response.code == 100 && response.success) {
                            alert('Email send');
                        }

                    }, "json");

        }

    </script>
{% endblock %}


